@model CodingTest.Models.Reading

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reading</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Depth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Depth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MagX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MagX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MagY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MagY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxZ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxZ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalMag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalMag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GravX)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GravX)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GravY)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GravY)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GravZ)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GravZ)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GravTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GravTotal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
