@model IEnumerable<CodingTest.Models.Reading>

@{
    ViewBag.Title = "Index";
}

<!-- show any return messages -->
@Html.Raw(TempData["msg"])

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Depth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MagX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MagY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxZ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalMag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GravX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GravY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GravZ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GravTotal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.OrderBy(i => i.Depth)) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Depth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MagX)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MagY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxZ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalMag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GravX)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GravY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GravZ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GravTotal)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
